@font-face {
  font-family: 'SwanSeaRegular';
  src: url('./assets/fonts/SwanSeaRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'SwanSeaRegular', sans-serif;
  --general-padding: 40px;
  --col-amb-red: #ff5757;
  --col-prim-gray: #a6a6a6;
  --col-milky-white: #cec7bf;
  --col-body-black: #121212; 
  --col-overlay-black: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
