.feature-container{
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: opacity forwards;
  animation-duration: 2s;
}

@keyframes opacity{
    from{opacity: 0;}
    to{opacity: 1;}
}

.tube-light{
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    z-index: 2;
}

.tube{
    z-index: 2;
    position: relative;
    top: 15%;
    width: 35vw;
    height: 10px;
    background-color: var(--col-prim-gray);
    border-color: var(--col-milky-white);
    border-radius: 5px;
    border-style: groove;
}

.light{
  z-index: 1;
  position: relative;
  top: 15%;
  width: 50vw;
  height: 150px;
  clip-path: polygon(16% 0%, 84% 0%, 100% 100%, 0% 100%);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 87, 87, 1) 0%,
    rgba(255, 87, 87, 0.5) 50%,
    rgba(255, 87, 87, 0.25) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: light-flicker 3s linear infinite;
}

@keyframes light-flicker {
    0%, 10% {
        opacity: 1;
      }
      11%, 30% {
        opacity: 0.5;
      }
      31%, 33% {
        opacity: 0.2;
      }
      34%, 40% {
        opacity: 0.8;
      }
      41%, 50% {
        opacity: 0;
      }
      51%, 55% {
        opacity: 1;
      }
      56%, 60% {
        opacity: 0;
      }
      61%, 100% {
        opacity: 1;
      }
}

.cards{
    z-index: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}